header{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    font-size: 20px;
    align-items: center;
    height: 150px;
}
header > a{
    text-decoration: none;
}
.id_dangky{
    right: 100px;
}
.add{
    width: 60px;
    height: 30px;
}
.name{
    width: 25px;
}
h3{
    display: flex;
    justify-content: center;
    text-align: center;
}
.add2{
    width: 25px;

}
.td{
    display: flex;
    justify-items: center;
}

h3{
    font-size: 200px;
}

tbody > tr {
    align-items: center;
}